@import "../../../../styles/variables";

.checkboxWrapper {
  display: flex;
  justify-content: space-between;
}

.checkboxWrapper .enabled:hover {
  background-color: $blue_1;
}

.checkboxWrapper button:hover {
  background: inherit;
}

.checkboxWrapper button {
  max-width: 311px;
    width: 100%;
  background: rgba(51, 126, 214, 0.05);
  border: 2px solid rgba(51, 126, 214, 0.5);
  box-sizing: border-box;
  border-radius: 8px;

  height: 58px;
  font-weight: normal;
  font-size: 23px;
  color: $blue_3;
  text-transform: none;
}

.checkboxWrapper .enabled {
  color: white;
  background-color: $blue_1;
}

.checkboxWrapper input {
  background-color: blue !important;
}

@media (max-width: $mediaBreakdown) {
  .checkboxWrapper button {
    height: 46px;
    line-height: 1;
  }

  .checkboxWrapper button:first-child {
    margin-right: 7px;
    font-size: 16px;
  }

  .checkboxWrapper button:nth-child(2) {
    margin-left: 7px;
    font-size: 16px;
  }
}
