$blue_1: #14133a;
$blue_2: #2d4c72;
$blue_3: #3759f0;
$blue_4: #8aa7c9;
$blue_5: #2e2d45;
$blue_6: #14133a;
$grey: #f0f4fa;
$white: #f9f9fa;
$red: #ff6871;
$orange: #f0a60e;
$mediaBreakdown: 960px;

$tabletBreakdown: 1140px;
$phoneBreakdown:768px;
