@import "../../../../styles/variables";
.diagonalBackgroundLine {
  width: 290px;
  height: 550px;
  background-color: $blue_6;
  position: absolute;
  top: 0;
  right: 85px;
  -webkit-clip-path: polygon(100% 100%, 0% 0, 0 0, 0 100%);
  clip-path: polygon(100% 100%, 0% 0, 0 0, 0 100%);
}

.diagonalBackgroundSquare {
  width: 90px;
  height: 550px;
  background-color: $blue_6;
  position: absolute;
  top: 0;
  right: 375px;
}
.materialSelectContainer {
  width: 320px;
}

.header {
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background: $blue_6;
  height: 550px;
}
.header img {
  height: 550px;
}
.imageWrapper {
  overflow: hidden;
  margin-left: 1060px;
}

.inputWrapper {
  padding-top: 80px;
  position: absolute;
  width: 1140px;
}

.inputContainer {
  display: flex;
}

.formTitle {
  display: block;
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 17px;
}
#weightUnit {
  text-transform: lowercase;
  display: inline;
}
.materialInput input {
  width: 100%;
}
.materialInput {
  width: 444px;
  height: 70px;
  background: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  color: rgba(0, 0, 0, 0.6);
  padding-left: 22px;
  text-transform: capitalize;
}

.amountInput {
  width: 210px;
  height: 51px !important;
  background: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
  color: #14133a;
  border-color: transparent;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-left: 24px;
}

.textWrapper {
  width: 671px;
}

.submitButton {
  width: 87px;
  height: 36px;

  background: #f0a60e;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: white;
  border: 0;

  cursor: pointer;
}

.selectDropdown {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  height: 56px !important;
  margin-bottom: 24px;
}

.selectDropdown input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  color: rgba(0, 0, 0, 0.6);
  padding-left: 9px;
}

.amountInput::-webkit-input-placeholder,
.amountInput:-ms-input-placeholder,
.amountInput::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  padding-left: 19px;
  color: rgba(0, 0, 0, 0.6);
}
.submitButtonMobile {
  display: none;
}
.inputGroup {
  position: relative;
}

.inputGroup label {
  // position: absolute;
  // top: 25px;
  // right: 20px;
  // font-family: Montserrat;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 22px;
  // line-height: 27px;
  // text-align: center;
  // color: #14133a;
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  text-align: left;
  padding: 0 12px;
  bottom: 70px;
  left: 30px;
  color: rgba(0, 0, 0, 0.6);
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}
.inputGroup:focus-within label {
  transform: translate(0, 12px) scale(0.7);
}
.active {
  transform: translate(0, 12px) scale(0.75) !important;
}

.inputGroup span {
  position: absolute;
  left: 38px;
  top: 49px;
  color: white;
  font-size: 12px;
}

.explanation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  background: none;
  width: 100%;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6) !important;
}

.errorExplanation {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
  background: none;
  width: 100%;
  margin-top: 10px;
  color: red !important;
}

.formContainer {
  width: 564px;
  height: 148px;
  background: #ffffff;
  padding: 36px;
}

.headerMobileImg {
  display: none;
}

@media (max-width: 1700px) {
  .imageWrapper {
    margin-left: 60%;
  }
}

@media (max-width: $tabletBreakdown) {
  .titleWrapper span {
    margin-left: 0;
    width: 470px;
    margin-top: 48px;

    z-index: 10;
    position: relative;
  }

  .header img {
    height: 480px;
  }
  .imageWrapper {
    margin-left: 376px;
  }

  .diagonalBackgroundSquare {
    top: -25px;
    left: 0;
    width: 460px;
    height: 484px;
  }
  .diagonalBackgroundLine {
    height: 484px;
    top: -25px;
    left: 460px;
    width: 130px;
  }

  .inputWrapper {
    width: 440px;
  }

  .inputContainer {
    flex-direction: column;
  }
  .materialSelectContainer {
    width: 100%;
    margin-bottom: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .amountInput {
    width: 100%;
    border: 0;

    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .header {
    margin: 56px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue_6;

    height: 483px;
  }

  .inputWrapper {
    padding-left: 0;
    padding-top: 0;
    width: 720px;
  }
  .textWrapper {
    width: 470px;
  }

  .submitButton {
    margin-top: 25px;
  }
  .submitButtonMobile {
    display: block;
    width: 100%;
    height: 60px;
    background: #3759f0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .formTitle {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .titleWrapper {
    margin-top: 0px;
  }

  .formContainer {
    padding-right: 96px;
    padding-left: 24px;
    width: 320px;
    height: 253px;
    padding: 0 96px 0 24px;
    position: relative;
    z-index: 10;
    margin-left: 0;
    padding-top: 28px;
  }

  .inputContainer {
    flex-direction: column;
  }

  .selectDropdown {
    margin-bottom: 18px;
  }
}

@media (max-width: $phoneBreakdown) {
  .titleWrapper span {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    width: 290px;
  }

  .inputWrapper {
    width: 100%;
  }
  .headerMobileImg {
    display: flex;
    width: 290px;
    height: 120px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .headerMobileImg img {
    width: 290px;
    height: auto;
  }

  .textWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 41px;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 373px;
    padding: 0;
  }
  .diagonalBackgroundLine,
  .diagonalBackgroundSquare,
  .imageWrapper {
    display: none;
  }

  .formTitle {
    margin-top: 22px;
    width: 290px;
  }
  .inputContainer {
    width: 290px;
  }

  .amountInput {
    width: 278px;
  }

  .titleWrapper {
    margin-bottom: 0;
  }

  .submitButton {
    margin-left: -203px;
  }
}
