@import "../../../../styles/variables";

.clickHere {
  margin-bottom: 247px;
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.clickHere button {
  background-color: $blue_3;
  width: 173px;
  height: 46px;
  font-size: 18px;
  border-radius: 8px;
  font-family: "Lato";
  font-weight: bold;
  padding-top: 9px;
}

.clickHere .pressHereMessage {
  font-size: 23px;
  color: $blue_1;
  margin-right: 20px;
}

@media (max-width: $mediaBreakdown) {
  .clickHere button {
    font-size: 16px;
  }

  .clickHere .pressHereMessage {
    font-size: 18px;
  }
}
