.footerLinksContainer {
  padding-top: 80px;
  background: #14133a;
  height: 670px;
  color: #fff;
}

.footerLinks {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.secondPartFooterLinks {
  margin-top: 50px;
}

.sectionTitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #fff;
}

.timesContainer {
  margin-top: 16px;
}

.logoWrapper {
  display: flex;
  width: 182px;
  justify-content: space-between;
  margin-top: 20px;
}

.columnUnternehmen {
  width: 360px;
}

.twoColumnsOfLinks {
  display: flex;
  justify-content: space-between;
}

.listOfLinks {
  display: flex;
  flex-direction: column;
  width: 165px;

  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
  margin-top: 15px;
}
.columnServices {
  margin-left: 30px;
  width: 360px;
}

.logoContainer {
  background: #3759f0;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  display: inline-block;
}

.columnServices .listOfLinks {
  width: 360px;
}

.columnEuro {
  width: 330px;
  margin-right: 60px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #fff;
}

.columnEuro p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #fff;
  margin-top: 16px;
  margin-bottom: 20px;
  width: 300px;
}

@media (max-width: 1140px) and (min-width: 768px) {
  .unternehmen .twoColumnsOfLinks {
    flex-direction: column;
  }
  .unternehmen .twoColumnsOfLinks .listOfLinks:nth-child(2) {
    margin-top: 0;
  }
  .columnEuro p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.4px;
    width: 157px;
  }
  .columnEuro {
    width: 25%;
    margin-right: 0;
  }

  .officeTimes.columnEuro {
    width: 100%;
  }

  .firstPartFooterLinks,
  .secondPartFooterLinks {
    width: 100%;
  }
  .columnServices,
  .columnUnternehmen {
    width: 50%;
    margin: 0;
  }
  .twoColumnsOfLinks div {
    width: 100%;
    padding-right: 30px;
  }
  .columnServices .listOfLinks,
  .columnServices .listOfLinks a {
    width: 100%;
  }

  .columnUnternehmen {
    width: 25%;
  }

  .columnServices {
    width: 25%;
    margin-left: 0;
  }

  .sectionTitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.15px;
  }

  .socialMediaContainer {
    width: 25%;
  }

  .footerLinksContainer {
    padding-right: 24px;
    padding-left: 24px;
  }

  .socialMediaContainer {
    width: 25%;
  }

  .secondPartFooterLinks .columnUnternehmen,
  .secondPartFooterLinks .columnServices {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .sectionTitle {
    margin-bottom: 15px;
    display: block;
  }
  .footerLinksContainer {
    height: auto;
    padding-top: 30px;
  }
  .linksContainer {
    height: auto;
    padding-bottom: 50px;
  }

  .footerLinks {
    flex-direction: column;
    padding: 0;
    width: 320px;
  }
  .columnEuro {
    width: 290px;
  }
  .columnEuro p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    width: 100%;
    margin-bottom: 32px;
  }
  .ekomiLogo {
    display: none;
  }

  .twoColumnsOfLinks {
    flex-direction: row;
  }

  .columnUnternehmen,
  .columnServices {
    margin-left: 0;
    width: 320px;
    margin-bottom: 35px;
  }
  .listOfLinks {
    margin-top: 0;
    max-width: 320px;
  }

  .secondPartFooterLinks {
    margin-top: 0px;
  }
}
